@model IEnumerable<Tarefa>
@section Styles{
    <style type="text/css">
        .bloco {
            height: 50px;
        }

        .icon {
            border: none;
            width: 18px;
            height: 18px;
        }
    </style>
}
<form id="Form1">
    <div id="box-agenda">
        <div id="box-filtro">
            <fieldset class="bloco">
                <legend>Ferramentas</legend>
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <div class="link">
                                <a asp-action="cadastrar" rel="Subsection">
                                    <img src="~/images/controls/add.gif" style="border:none;width:16px; height:16px;" alt="" asp-append-version="true" />
                                    <span style="line-height:16px;">Adicionar</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="bloco">
                <legend>Atribuição</legend>
                <table>
                    <tr>
                        <td><label>Responsavel</label></td>
                        <td>
                            <select id="cmbResponsavel" asp-items="@ViewBag.Responsaveis"></select>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div id="box-tabela">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tarefa</th>
                        <th>Responsável</th>
                        <th>Data Cadastro</th>
                        <th>Observações</th>
                        <th>Status</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.Id</td>
                            <td>@c.Nome</td>
                            <td>@c.Responsavel</td>
                            <td>@c.DataSolicitacao</td>
                            <td>@c.Observacao</td>
                            <td>@c.Status</td>
                            <td>
                                <a asp-action="cadastrar" asp-route-id="@c.Id">
                                    <img src='~/images/controls/tools.gif' class="icon" title="Editar">
                                </a>
                            </td>
                            <td>
                                <a asp-action="cadastrar" asp-controller="agenda">
                                    <img src='~/images/controls/clock (2).png' class="icon" title="Agendar">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>