@model Gadz.Agenda.Web.Domain.Tratamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tratamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
